.buttonStyle {
  width: 85%;
  height: 60px;
  margin-bottom: 10px;
  background-color: #607d8b;
  color: #fff;
  font-weight: 400;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttonStyle2 {
  width: 50%;
  height: 55px;
  margin: 10px;
  background-color: #6f7e87;
  color: #fff;
  font-weight: 400;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: auto;
}
.buttonStyleInBox {
  height: 55px;
  min-height: 55px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #607d8b;
  color: #fff;
  font-weight: 400;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.smallWordInbuttonStyle {
  font-size: 12px;
  text-transform: capitalize;
}


.buttonContainerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonGroupStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.buttonGroupStyleInBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonStyle:hover {
  background-color: #3c525d;
  color: #fff;
  transform: scale(0.99);
}

.buttonStyle:active {
  transform: scale(0.95);
}

.buttonStyleInBox:hover {
  background-color: #3c525d;
  color: #fff;
  transform: scale(0.99);
}

.buttonStyleInBox:active {
  transform: scale(0.95);
}

.buttonStyle2:hover {
  background-color: #363c3f;
  color: #fff;
  transform: scale(0.99);
}

.buttonStyle2:active {
  transform: scale(0.95);
}

/*  */
.mainDivStyle {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-right: 10px;
  height: calc(100vh - 365px);
  min-height: 438px;
}

.mainLeftDivStyle {
  width: 30%;
  height: calc(100vh - 365px);
  min-height: 350px;
  display: flex;
  min-height: 389px;
}

.mainRightDivStyle {
  width: 70%;
  height: calc(100vh - 365px);
  min-height: 389px;
}

.boarderInBothDivStyle {
  width: 90%;
  border: 1px solid #ccc;
  margin: 5px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 5px;
  background-color: rgb(243, 248, 250);
  justify-content: center;
  align-items: center;
}

.subHeading {
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.supervisorImageStyle {
  filter: brightness(70%);
  height: calc(100vh - 376px);
  min-height: 378px;
  object-fit: fill;
  border-radius: 5px;
  width: 100%;
}

@media screen and (max-width: 1210px) {
  .buttonStyleInBox {
    font-size: 12px;
    font-weight: 600;
    height: 65px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px;
  }
  .buttonStyle2 {
    font-size: 10px;
    font-weight: 600;
    height: 65px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px;
  }
  .smallWordInbuttonStyle {
    font-size: 11px;
    text-transform: capitalize;
  }
  .mainDivStyle {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-right: 10px;
    height: calc(100vh - 365px);
    min-height: 438px;
  }

  .mainLeftDivStyle {
    width: 40%;
    height: calc(100vh - 365px);
    min-height: 350px;
    /* display: flex; */
    min-height: 389px;
  }

  .mainRightDivStyle {
    width: 60%;
    height: calc(100vh - 365px);
    min-height: 389px;
    /* overflow: hidden; */
  }
  .smallWordInbuttonStyle {
    font-size: 8px;
    text-transform: capitalize;
  }
  .supervisorImageStyle {
    filter: brightness(70%);
    min-height: 378px;
    object-fit: fill;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1450px){
  .buttonStyleInBox {
    height: calc((100vh - 365px - 110px)/5 );
  }

  .smallWordInbuttonStyle {
    font-size: 16px;
    text-transform: capitalize;
  }
}
