/* Add this CSS to your stylesheet */
.active-link {
 color: white;
}

.log{
    background-color: aliceblue;
    color: black;
    font-weight: 500;
    width: 90px;
}

.nav-brand{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}




