.register-container
{
   
   display: flex;
   height: 78vh;
   justify-content: center;
   align-items: center;

}

.register-form
{
  display: flex;
  flex-direction: column;
  min-width: 30vw;

}

h3{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    text-align: center;
    margin:0; 
}


.form-group {
    display: flex; /* Use flexbox to align elements in the same row */
    align-items: center; /* Vertically center elements within the container */
  }
  
  .form-group div {
    flex: 1; /* Allow the div to take up available space in the row */
    margin-right: 10px; /* Add some spacing between the div and input */
  }

input 
{   
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width:350px;
}

select
{   
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width:365px;
}


button
{
    background-color: black;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 1px solid white;

}

.bottom-link
{
    text-decoration: none;
    color: black;
}